# End to End Test Report
Screenshots of end to end testing in Postman

Query Positive Testcase
![Query_Positive_Testcase.png](Query_Positive_Testcase.png)

Min Max Positive Testcase
![MinMax_Positive_Testcase.png](MinMax_Positive_Testcase.png)

Query Negative Testcase
![Query_Negative_Testcase.png](Query_Negative_Testcase.png)

Query Negative Testcase # 2
![Query_Negative_Testcase_2.png](Query_Negative_Testcase_2.png)

Min Max Negative Testcase
![MinMax_Negative_Testcase.png](MinMax_Negative_Testcase.png) 

Unit Test Report 
![UnitTests.png](UnitTests.png)